extends layout

block content
  div.container
    h1 c7t k8s presentation api
    ul
      li
        a(href="/api/health/status") /api/health/status
      li
        a(href="/api/data/staff") /api/data/staff
